<mat-card class="card">
  <div class="container_img">
    <img mat-card-image src="{{ product.image }}" alt="" class="card_image" />
  </div>
  <mat-card-header>
    <p>{{ product.id }}</p>
    <mat-card-title>{{ product.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ product.description }}</p>
    <p>price: {{ product.price }}</p>
    <p>category: {{ product.category }}</p>
    <div>rate: {{ product.rating.rate }} count: {{ product.rating.count }}</div>
  </mat-card-content>
</mat-card>
